<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {# Fuentes #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        
        {# Font Awesome #}
        <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
        
        {# Css's de la plantilla #}
        <link rel="stylesheet" href="{{ asset('plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/adminlte.min.css') }}">

        {# StyleSheets Extras #}
        {% block stylesheets %}{% endblock %}
        
    </head>
    
    <body class="hold-transition sidebar-mini layout-fixed sidebar-mini-md">
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-md-none">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item user-menu">
                        <b class="nav-link">
                            <span class="d-inline">Erick390</span>
                        </b>
                    </li>
                    <li class="nav-item user-menu">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="d-inline pr-4"><i class="fa fa-cogs"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                            <li class="user-header bg-gray pb-3" style="height: fit-content;">
                                <p>
                                    {{ app.request.cookies.get('user') }}
                                    <br><em style="font-size: medium;">Rol de usuario {{ app.request.cookies.get('rol') }}</em>
                                </p>
                            </li>
                            <li class="user-footer">
                                <a href="{{ path('login') }}" class="btn btn-default float-right">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
    
            </nav>
    
            <!-- SIDEBAR MENU -->
            <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
                <a href="{{ path('home') }}" class="brand-link"
                    style="text-decoration: none;">
                    <img src="{{ asset('img/logo.png') }}" alt="Logo" class="brand-image img-circle elevation-3">
                    <span class="brand-text font-weight-light">COCOVA<sub> SPI</sub></span>
                </a>
    
                <div class="sidebar">
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">

                            {% set Permiso = app.request.cookies.get('rol') ?: "Default" %}
    
                            {% for seccion in Menus[Permiso] %}
                                {% if seccion.text is iterable %}
                                    {% set flag = false %}

                                    {% for subseccion in seccion.text %}
                                        {% if subseccion.path == app.request.get('_route') %}
                                            {% set flag = true %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    <li class="nav-item {{ flag ? 'menu-is-opening menu-open' }}">
                                        <a href="#" class="nav-link {{ flag ? 'active' }}">
                                            <i class="nav-icon fas {{ seccion.icon }}"></i>
                                            <p>
                                                {{ seccion.title }}
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            {% for subseccion in seccion.text %}
                                            <li class="nav-item">
                                                <a href="{{ path(subseccion.path) }}" id="{{ subseccion.path }}"
                                                    class="nav-link {{ subseccion.path == app.request.get('_route') ? 'active' }}">
                                                    <i class="far {{ subseccion.icon }} nav-icon"></i>
                                                    <p>{{ subseccion.text }}</p>
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                {% else %}
                                    <li class="nav-item">
                                        <a href="{{ path(seccion.path) }}" id="{{ seccion.path }}"
                                            class="nav-link {{ seccion.path == app.request.get('_route') ? 'active' }}">
                                            <i class="nav-icon fas {{ seccion.icon }}"></i>
                                            <p>
                                                {{ seccion.text }}
                                            </p>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </aside>
    
            <!-- CONTENIDO -->
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                    </div>
                </section>
    
                <section class="content">
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                </section>
            </div>
        </div>
    

        <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
        
        <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        
        <script src="{{ asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
        
        <script src="{{ asset('js/adminlte.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>