{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1 class="mx-auto pb-2"><strong>{{ page_title }}</strong> Nombre Obra {{ Obra_ID }}</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                <div class="row">
                    <section class="col-6 col-sm-8">
                        <div class="flex d-flex">
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-gradient-warning">
                                    <span class="info-box-icon">
                                        <i class="far fa-calendar-check"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Fecha Inicio</span>
                                        <span class="info-box-number">dd/mm/aaa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-gradient-danger">
                                    <span class="info-box-icon">
                                        <i class="far fa-calendar-times"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Fecha Fin</span>
                                        <span class="info-box-number">dd/mm/aaa</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container pl-4 pr-4 pt-2 pb-2">
                            <div class="progress">
                                <div class="progress-bar bg-orange color-palette text-white" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    Tiempo transcurrido de la obra
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="col-12 col-sm-4">
                        <div class="">
                            <div class="info-box bg-gradient-success">
                                <span class="info-box-icon">
                                    <i class="far fa-circle"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Elemento</span>
                                    <span class="info-box-number">Texto</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row pt-4">
                    <div class="col-12">
                        <h4>Dependencia Contrato</h4>
                        <p class="text-muted justify-text">{{ Obra.getDependenciaContratos }}</p>
                        <h4>Dependencia Ejecutora</h4>
                        <p class="text-muted justify-text">{{ Obra.getDependenciaEjecutora }}</p>
                        <h4>Contrato Proyecto</h4>
                        <p class="text-muted justify-text">{{ Obra.getContratoProyecto }}</p>
                        <b>(Pendiente agregar parametro nombre a la entidad)</b>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                <h3 class="text-primary">Descripción </h3>
                <p class="text-muted">Descipción Obra {{ Obra_ID }} (Pendiente agregar parametro description a la entidad)</p>
                <div class="text-muted">
                    <h5 class="mt-5 text-muted">Ubicación</h5>
                    <p class="text-sm"><b>Calle:</b>
                        <em>{{ Obra.getUbicacion.getCalle }}</em>
                    </p>
                    <p class="text-sm"><b>Número:</b>
                        <em>{{ Obra.getUbicacion.getNumero }}</em>
                    </p>
                    <p class="text-sm"><b>Colonia:</b>
                        <em>{{ Obra.getUbicacion.getColonia }}</em>
                    </p>
                    <p class="text-sm"><b>CP:</b>
                        <em>{{ Obra.getUbicacion.getCp }}</em>
                    </p>
                    <p class="text-sm"><b>Municipio:</b>
                        <em>{{ Obra.getUbicacion.getMunicipio }}</em>
                    </p>
                    <p class="text-sm"><b>Localidad:</b>
                        <em>{{ Obra.getUbicacion.getLocalidad}}</em>
                    </p>
                </div>
                <div class="text-muted">
                    <h5 class="mt-5 text-muted">Usuario asignado</h5>
                    <p class="text-sm"> <b>Nombre: </b>
                        <em>Usuario Nombre y apellidos</em>
                    </p>
                    <p class="text-sm"><b>Rol: </b>
                        <em>Usuario Rol</em>
                    </p>
                </div>

                <div class="col-md-6 text-center mt-5 mb-3">
                    <a href="#" class="btn btn-sm btn-primary btn-block">Ver movimientos</a>
                    <a href="#" class="btn btn-sm btn-primary btn-block">Ver compras</a>
                    <a href="#" class="btn btn-sm btn-primary btn-block">Ver productos en existencia</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
