{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('#obra').addClass('active');
    } );
</script>

{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1 class="mx-auto pb-2"><strong>{{ page_title }}</strong>{{ Obra.getNombre }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 pb-2 pl-4">
                <a href="{{ path('obra') }}">
                    <button class="btn btn-sm bg-primary"><i class="fa fa-arrow-left pr-2"></i>Regresar</button>
                </a>
            </div>
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                <div class="row">
                    <section class="col-6 col-sm-8">
                        <div class="flex d-flex">
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-gradient-warning">
                                    <span class="info-box-icon">
                                        <i class="far fa-calendar-check"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Fecha Inicio</span>
                                        <span class="info-box-number">{{ Obra.getFechaInicio.format('D-d-m-Y') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-gradient-danger">
                                    <span class="info-box-icon">
                                        <i class="far fa-calendar-times"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Fecha Entrega</span>
                                        <span class="info-box-number">{{ Obra.getFechaEntrega.format('D-d-m-Y') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row pt-4">
                    <div class="col-12">
                        <h4>Dependencia Contrato</h4>
                        <p class="text-muted justify-text">{{ Obra.getDependenciaContratos }}</p>
                        <h4>Dependencia Ejecutora</h4>
                        <p class="text-muted justify-text">{{ Obra.getDependenciaEjecutora }}</p>
                        <h4>Contrato Proyecto</h4>
                        <p class="text-muted justify-text">{{ Obra.getContratoProyecto }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                <h3 class="text-primary">Descripción </h3>
                <p class="text-muted">{{ Obra.getDescripcion }}</p>
                <div class="text-muted">
                    <h5 class="mt-5 text-muted">Ubicación</h5>
                    <p class="text-sm"><b>Calle:</b>
                        <em>{{ Obra.getUbicacion.getCalle }}</em>
                    </p>
                    <p class="text-sm"><b>Número:</b>
                        <em>{{ Obra.getUbicacion.getNumero }}</em>
                    </p>
                    <p class="text-sm"><b>Colonia:</b>
                        <em>{{ Obra.getUbicacion.getColonia }}</em>
                    </p>
                    <p class="text-sm"><b>CP:</b>
                        <em>{{ Obra.getUbicacion.getCp }}</em>
                    </p>
                    <p class="text-sm"><b>Municipio:</b>
                        <em>{{ Obra.getUbicacion.getMunicipio }}</em>
                    </p>
                    <p class="text-sm"><b>Localidad:</b>
                        <em>{{ Obra.getUbicacion.getLocalidad}}</em>
                    </p>
                </div>
                <div class="text-muted">
                    <h5 class="mt-5 text-muted">Usuario asignado</h5>
                    <p class="text-sm"> <b>Nombre: </b>
                        <em>{{ Obra.getUsuario.getNombre }} {{ Obra.getUsuario.getApellidos }}</em>
                    </p>
                    <p class="text-sm"><b>Rol: </b>
                        <em>{{ Obra.getUsuario.getRol }}</em>
                    </p>
                </div>

                <div class="col-md-6 text-center mt-5 mb-3">
                    <a href="#" class="btn btn-sm btn-primary btn-block">Ver movimientos</a>
                    <a href="#" class="btn btn-sm btn-primary btn-block">Ver compras</a>
                    <a href="#" class="btn btn-sm btn-primary btn-block">Ver productos en existencia</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
