{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1 class="mx-auto pb-2">{{ page_title }}</h1>

    <div class="row">

        {% set Sections = 0 %}
        {% for obra in OBRAS %}

            {% if Sections % (OBRAS|length / 3)|round(0, 'ceil') == 0 %}
                {% if Sections > 0 %}
                    </section>
                {% endif %}
                <section class="col-md-4">
                <script>
                    console.log("Puesto un script en {{ (OBRAS|length / 3)|round(0, 'ceil') }}")
                </script>
            {% endif %}
            <div class="">
                <div class="card card-purple shadow-lg" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
                    <div class="card-header">
                        <h3 class="card-title pl-3 pt-md-1">{{ obra }}</h3>
                        <div class="card-tools">
                            <span style="font-size: large;">
                                <i class="fas fa-tools"></i>
                            </span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        </dl>
                    </div>
                    <div class="card-footer row">
                        <div class="col-md-3">
                            <a href="{{ path('obr-view-det', { 'Obra_ID': obra }) }}">
                                <button type="button" class="btn btn-sm bg-maroon color-palette btn-block">
                                    <i class="fa fa-eye"></i> 
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% set Sections = Sections + 1 %}
    
        {% endfor %}
    </div>

</div>

{% endblock %}


