{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1 class="mx-auto pb-2">{{ page_title }}</h1>

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h5 class="m-0">Bienvenido {{ app.request.cookies.get('user') }}</h5>
        </div>
        <div class="card-body">
            <h6 class="card-title">Ha iniciado sesión con el rol de {{ app.request.cookies.get('rol') }}</h6>

            <p class="card-text">Texto de introducción o donde se indique alguna cosa xd</p>
        </div>
    </div>

    <div class="row">

        {% set Permiso = app.request.cookies.get('rol') ?: "Default" %}

        {% for seccion in Menus[Permiso]|slice(1, Menus[Permiso]|length) %}
            {% if seccion.text is iterable %}
                {% for subseccion in seccion.text %}
                    <div class="col-lg-3 col-6 mx-auto">
                        <div class="small-box color-palette {{ subseccion.color }}">
                            <div class="inner">
                                <h3 class="text-white">{{ subseccion.text }}</h3>

                                <!-- <p>{{ subseccion.description }}</p> -->
                            </div>
                            <div class="icon">
                                <i class="fas {{ subseccion.icon }}" style="color:white; opacity:0.3;"></i>
                            </div>
                            <a href="{{ path(subseccion.path) }}" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-3 col-6 mx-auto">
                    <div class="small-box color-palette {{ seccion.color }}">
                        <div class="inner">
                            <h3 class="text-white">{{ seccion.text }}</h3>

                            <!-- <p>{{ seccion.description }}</p> -->
                        </div>
                        <div class="icon">
                            <i class="fas {{ seccion.icon }}" style="color:white; opacity:0.3;"></i>
                        </div>
                        <a href="{{ path(seccion.path) }}" class="small-box-footer"><i class="fas fa-arrow-circle-right" style="color:white;"></i></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
    </div>

</div>
{% endblock %}
