{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1 class="mx-auto pb-2" style="font-size: 5em;">COCOVA<sub>SPI</sub></h1>
    <!-- <div class="row">
        <div class="col-12" style="position: relative;">
            <img src="{{ asset('img/cocova.svg') }}" style="position: absolute; width: 30%; left: 50%; margin-right: -50%; transform: translate(-50%, 0);">     </img>
        </div>
    </div> -->
    <div class="row">
    {% set Permiso = app.request.cookies.get('rol') ?: "Default" %}

        {% for seccion in Menus[Permiso]|slice(1, Menus[Permiso]|length) %}
            {% if seccion.text is iterable %}
                {% for subseccion in seccion.text %}
                    <div class="col-lg-3 col-6">
                        <div class="small-box color-palette bg-primary">
                            <div class="inner">
                                <h3 class="text-white">{{ subseccion.text }}</h3>
                            </div>
                            <div class="icon">
                                <i class="fas {{ subseccion.icon }}" style="color:white; opacity:0.3;"></i>
                            </div>
                            <a href="{{ path(subseccion.path) }}" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-3 col-6">
                    <div class="small-box color-palette bg-primary">
                        <div class="inner">
                            <h3 class="text-white">{{ seccion.text }}</h3>
                        </div>
                        <div class="icon">
                            <i class="fas {{ seccion.icon }}" style="color:white; opacity:0.3;"></i>
                        </div>
                        <a href="{{ path(seccion.path) }}" class="small-box-footer"><i class="fas fa-arrow-circle-right" style="color:white;"></i></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
